body{
    margin: 20px;
    width: 450px;
    margin-left: 35%;
}

.foto{
    float: right;
    width: 150px;
    height: auto;
    margin-left: 20px;
}

.a{
    text-align: center;
}

.b{
    border: none;
    border-top: 1px dashed black;
    margin: 10px;
}

.contenedor1{
    position: relative;
    margin-left: -5%;
}

.c{
    border: none;
    border-top: 1px dashed black;
    margin: 10px;
}

.div{
    border: none;
    border-top: 1px dashed black;
    margin: 10px;
}

.contenedor2{
    position: relative;
    margin-left: 0%;
}

.d{
    border: none;
    border-top: 1px dashed black;
    margin: 10px;
}
.contenedor3{
    position: relative;
    margin-left: 0%;
}

.e{
    border: none;
    border-top: 1px dashed black;
    margin: 10px;
}

.contenedor4{
    position: relative;
    margin-left: 0%;
}

.f1{
    position: relative;
    margin-left: 20%;
    height:50px; 
    width:50px;
}

.t1{
    position: relative;
    margin-left: 15%;
    height:50px; 
    width:50px;
}

.i1{
    position: relative;
    margin-left: 15%;
    height:50px; 
    width:50px;
}

